.movies {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
#movie {
  padding: 25px;
  background-color: #999;
  border-radius: 10px;
}

#todo-list {
  list-style: none;
}

#todo-list li:nth-of-type(1),
#todo-list li:nth-of-type(2) {
  text-decoration: line-through;
}
#todo-list li:nth-of-type(3),
#todo-list li:nth-of-type(4) {
  background-color: lightblue;
}
#todo-list li:nth-of-type(5),
#todo-list li:nth-of-type(6) {
  text-decoration: underline;
}
#section-cards {
  padding: 100px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
#section-cards figure img {
  width: 100%;
  height: 200px;
}
#section-cards figure {
  text-align: center;
}
#section-cards figure button {
  border: none;
  background-color: indianred;
  color: #fff;
  border-radius: 20px;
  padding: 10px 40px;
}
.App > h1 {
  text-align: center;
}

#collapse {
  height: 100vh;
  padding: 100px 200px;
  background-color: #050021;
}
#collapse div {
  color: #3ad4aa;
}
#collapse div span {
  font-size: 24px;
}
#collapse .Collapsible__contentOuter p {
  font-size: 16px;
}

.Collapsible__trigger div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.plus {
  margin-left: auto;
  font-size: 28px;
}
.minus {
  margin-left: auto;
  font-size: 28px;
}
